<!DOCTYPE html>
<html lang="en" xmlns:td="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ORM-SPRINGMVC-Thymeleaf</title>
</head>
<body>
<h1>C0419G1-NGUYENDUCTHUAN</h1>
<fieldset style="width: 650px;background-color: chartreuse;border:  double lightseagreen;border-width: 10px">
    <legend style="color:peachpuff;font-family: 'Tibetan Machine Uni';border :lightseagreen;font-size: 20px ;background-color:olivedrab">Session 15-21</legend>

    <table style="position:relative;border: solid sandybrown;background-color: bisque;width: 650px;font-family: 'Abyssinica SIL'">
        <tr>
            <td><a style="font-size: 20px">List customer</a></td>
            <td>
                <a href="customers">
                    <button>Click!</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><a style="font-size: 20px">List blog</a></td>
            <td>
                <a href="/blogs">
                    <button>Click!</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><a style="font-size: 20px">Login</a></td>
            <td>
                <a href="/login">
                    <button>Click!</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><a style="font-size: 20px">Counter</a></td>
            <td>
                <a href="/mycounter">
                    <button>Click!</button>
                </a>
            </td>
        </tr>

    </table>
</fieldset>
</body>
</html>